#version=RHEL8
# Install OS instead of upgrade
install
# Use CDROM installation media
cdrom
# Use text mode install
text 
## cmdline
# Installation logging level
logging --level=debug
# System authorization information 
auth --enableshadow --passalgo=sha512 --enablefingerprint

# Partition clearing information
clearpart --all --initlabel
# Instal disk Setting
ignoredisk --only-use=sda
autopart --type=lvm --nohome --noswap

repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=jp --xlayouts='jp'
# System language
lang ja_JP.UTF-8

# Selinux configuration
selinux --disabled
# Firewall configuration
firewall --disabled

# Reboot after installation
# reboot --eject
# shutdown --eject

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
# network --bootproto=static --device=eth0 --ip=192.168.137.10 --netmask=255.255.255.0 --gateway=192.168.137.254 --nameserver=10.1.254.254  --noipv6 --activate
network  --hostname=ks-server
# Root password
rootpw --iscrypted $6$hkrMbXlf083qr9GS$q1BypQaYf3DbcZtP43zlYKU2CVumXGqSF61ZVMbZveGeqZtr8SzJq0iKnf9OsRiXvB4FrgyZPMIHpMcdUSgf91
# rootpw --plaintext "password"
# Run the Setup Agent on first boot
# firstboot --enable
firstboot --disable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Tokyo --isUtc

%packages
@^minimal-environment
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

# Execute command
%post --log=/mnt/sysimage/root/anaconda-post.log --erroronfail --nochroot
ksweb=192.168.1.80
echo $ksweb
echo $ksweb > /mnt/sysimage/root/ksweb

# Proxy
# touch /mnt/sysimage/etc/profile.d/proxy.sh
# echo -e "PROXY='192.168.137.10:8080'" >>/mnt/sysimage/etc/profile.d/proxy.sh
# echo -e "export http_proxy=\$PROXY" >>/mnt/sysimage/etc/profile.d/proxy.sh
# echo -e "export HTTP_PROXY=\$PROXY" >>/mnt/sysimage/etc/profile.d/proxy.sh
# echo -e "export https_proxy=\$PROXY" >>/mnt/sysimage/etc/profile.d/proxy.sh
# echo -e "export HTTPS_PROXY=\$PROXY" >>/mnt/sysimage/etc/profile.d/proxy.sh
# echo -e "export no_proxy='localhost,127.0.0.1,"$ksweb"'" >>/mnt/sysimage/etc/profile.d/proxy.sh

# ssh (Add authorized_keys echo or curl)
mkdir /mnt/sysimage/root/.ssh
chmod 600 /mnt/sysimage/root/.ssh
# echo "ssh-rsa root@host" > /mnt/sysimage/root/.ssh/authorized_keys
curl -L http://$ksweb/id_rsa.pub >  > /mnt/sysimage/root/.ssh/authorized_keys

curl -L http://$ksweb/post.sh > /mnt/sysimage/root/post.sh
chmod 755 /mnt/sysimage/root/post.sh

# DockerSetUP
curl -L http://$ksweb/setDokcer.sh > /mnt/sysimage/root/setDokcer.sh
chmod 755 /mnt/sysimage/root/setDokcer.sh
reboot --eject
%end
# Reboot after installation
reboot --eject