.DS_Store
Thumbs.db
*.class
*.pyc
._.DS_Store
.git
.hg
.svn
._*
Thumbs.db
.xbb
*.png
*.bat
# For TeX
*.out
*.pdf
*.aux
*.log
.omakedb*
*.omc
*.fls
*.toc
enable_timescaledb.sql
*.sql
*.log
*.org
*.ico
*.iso

# easy rsa
./Server_Setup/CAserver/easyrsa_c/vars