#version=CentOS8
# Use CDROM installation media
cdrom
# Use cmd mode install
cmdline
# graphical

# Installation logging level
logging --level=debug
# System authorization information 
authselect --enableshadow --passalgo=sha512 --enablefingerprint

# Partition clearing information
clearpart --all --initlabel
# Instal disk Setting
ignoredisk --only-use=sda
# autopart --type=lvm --nohome
# autopart --type=lvm --nohome --noswap
### Partition UEFI
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
part /boot --fstype="ext4" --ondisk=sda --size=1024
part /boot/efi --fstype="efi" --ondisk=sda --size=600
part pv.101 --fstype="lvmpv" --ondisk=sda --size=1 --grow
volgroup vl_cs8 pv.101
#logvol swap  --fstype="swap" --recommended --name=swap --vgname=vl_cs8 --label="swap"
logvol /  --fstype="xfs" --size=20480 --name=root --vgname=vl_cs8 --label="root"
logvol /gfs  --fstype="xfs" --size=4096 --grow --name=gfs --vgname=vl_cs8 --label="gfs"

# Keyboard layouts()
# keyboard --vckeymap=jp --xlayouts='jp'
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US

# Selinux configuration
selinux --disabled
# Firewall configuration
firewall --disabled

# Reboot after installation
# reboot --eject
# shutdown --eject

# Network information
# network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network --bootproto=static --device=eth0 --ip=192.168.1.152 --netmask=255.255.255.0 --gateway=192.168.1.1 --nameserver=192.168.1.1 --noipv6 --activate
network  --hostname=kube2
# Root password
rootpw --iscrypted $6$hkrMbXlf083qr9GS$q1BypQaYf3DbcZtP43zlYKU2CVumXGqSF61ZVMbZveGeqZtr8SzJq0iKnf9OsRiXvB4FrgyZPMIHpMcdUSgf91
# rootpw --plaintext "password"
# Run the Setup Agent on first boot
# firstboot --enable
firstboot --disable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Tokyo --isUtc

%packages
@^minimal-environment
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

# Execute command
%post --log=/mnt/sysimage/root/anaconda-post.log --erroronfail --nochroot
ksweb=192.168.1.80
echo $ksweb
# echo $ksweb > /mnt/sysimage/root/ksweb

# Proxy
# touch /mnt/sysimage/etc/profile.d/proxy.sh
# echo -e "PROXY='192.168.137.10:8080'" >>/mnt/sysimage/etc/profile.d/proxy.sh
# echo -e "export http_proxy=\$PROXY" >>/mnt/sysimage/etc/profile.d/proxy.sh
# echo -e "export HTTP_PROXY=\$PROXY" >>/mnt/sysimage/etc/profile.d/proxy.sh
# echo -e "export https_proxy=\$PROXY" >>/mnt/sysimage/etc/profile.d/proxy.sh
# echo -e "export HTTPS_PROXY=\$PROXY" >>/mnt/sysimage/etc/profile.d/proxy.sh
# echo -e "export no_proxy='localhost,127.0.0.1,"$ksweb"'" >>/mnt/sysimage/etc/profile.d/proxy.sh

# ssh ([Option] Add root authorized_keys)
mkdir /mnt/sysimage/root/.ssh
chmod 600 /mnt/sysimage/root/.ssh
echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDFKgGnNSwiJ33H5hQXQRYDUOVPC6M5Ac4eKlJ9q6kb3sA6WGSYnEDApKLjsEH5WxgEk+zWCmNUvUqVGmRTdVL6qGrJrGPNVKUYOa5866QpZ9HvujlWvynV5uMYiDd0p3UizCvSodITYLkRCXutcfVNHH6TQUhMy+hWyYZOxG5XtWuYjbQbofrlyXrifZQbom/c9xklrolSYvjiEr/rrpMSJQHsVr3UIkbA2oSCVp5JP/69D27Gm0MovjADajK1vCzwEg8klaX6Jdaghm6CGsY1IlEzYtDPvDEyLEmnQBqhtdUcTn7SAIliGdu4sqxiMCiUl6jDdY6AIKDWIKqgd21T mewyoshimoto@YY-MBP.local" > /mnt/sysimage/root/.ssh/authorized_keys
# curl -L http://$ksweb/id_rsa.pub > /mnt/sysimage/root/.ssh/authorized_keys

# setPost
curl -L http://$ksweb/setPost.sh > /mnt/sysimage/root/setPost.sh
chmod 755 /mnt/sysimage/root/setPost.sh

# DockerSetUP
curl -L http://$ksweb/kube/setDokcer.sh > /mnt/sysimage/root/setDokcer.sh
chmod 755 /mnt/sysimage/root/setDokcer.sh

# Install K8s GlusterFS
curl -L http://$ksweb/kube/addGSK8s.sh > /mnt/sysimage/root/addGSK8s.sh
chmod 755 /mnt/sysimage/root/addGSK8s.sh

# Sheard Key
curl -L http://$ksweb/kube/keyexchange.sh > /mnt/sysimage/root/keyexchange.sh
chmod 755 /mnt/sysimage/root/keyexchange.sh

# Set GlusterFS
curl -L http://$ksweb/kube/setGlusterFS.sh > /mnt/sysimage/root/setGlusterFS.sh
chmod 755 /mnt/sysimage/root/setGlusterFS.sh

# cron Reboot
echo "@reboot root /root/setPost.sh 2>&1 | tee /root/setPost.log" >> /mnt/sysimage/etc/crontab

%end
# Reboot after installation
reboot --eject
